NEXT_PUBLIC_CHAT_API_URL=http://localhost:3001
NEXT_PUBLIC_ENTRA_CLIENT_ID=5d92f3c.....
NEXT_PUBLIC_ENTRA_TENANT_ID=4533eb39-ddd3-42fesda
NEXT_PUBLIC_ENTRA_AUTHORITY=
NEXT_PUBLIC_ENTRA_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_CHAT_API_SCOPE=
